<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página legal da SECCOM</title>
</head>
<body>
    <div style="background-color: red; height:25px">
        <h1>Frase padrão</h1>
    </div>
    
    {% block content %}
    {% endblock %}

    <div style="background-color: green; height:50px;">
        <h2>footer</h2>
    </div>
</body>
</html>